#ArtūrsOzoliņš{background-color: aqua;
width: 50; height: 50;
}
#Saša{background-color: blue;
width: 30px; height: 1000;
}
#Pulkvedis{background-color: brown;
width: 40px; height: 500px;
}

